:root {
    --background-brush: #060c14;
    --second-background-brush: #1b2026;
    --main-green-brush: #176e4e;
    --main-dark-green-brush: #135c41;
    --warning-brush: #de1818;
    --border-brush: #545151;
    --highlighted-border-brush: #827e7e;
    --main-red-brush: #961414;
    --list-highlighted-brush: #3b414a;
}

body {
    margin: 0;
    background: var(--background-brush);
    font-size: 0;
    width: 200px;
}

div.container {
    margin: 0px;
    display: none;
    position: relative;
    background: var(--background-brush);
    text-align: center;
}

div.child {
    height: 100%;
    width: 100%;
    max-height: 100%;
    position: absolute;
    visibility: visible;
    text-align: center;
}

input.password-input {
    background: var(--second-background-brush);
    border: 1px;
    border-style: solid;
    border-color: var(--background-brush);
    color: white;
    height: 25px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 0px;
}

input.password-input:focus {
    outline: none;
    border-style: solid;
    border-color: var(--main-green-brush);
}

input.password-input:hover:not(:focus) {
    outline: none;
    border-style: solid;
    border-color: var(--highlighted-border-brush);
}

p.text, h3.text {
    color: white;
}

li {
    color: white;
    text-align: left;
    font-size: 17px;
    margin-bottom: 6px;
    margin-right: 5px;
}

li:hover {
    background: var(--list-highlighted-brush);
}

ul {
    margin: 0px 20px 0px 20px;
    list-style-type: none;
    padding-left: 0px;
    overflow-y: auto;
    max-height: 140px;
}

p.warning {
    color: var(--warning-brush);
    text-align: right;
    margin: 0px 30px 0px 0px;
    visibility: visible;
}

button.cancel {
    border: 0px;
    padding: 3px 6px 3px 6px;
    background: var(--main-red-brush);
    color: white;
    border-radius: 5px;
}

button.confirm {
    border: 0px;
    padding: 3px 6px 3px 6px;
    background: var(--main-green-brush);
    color: white;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: dimgrey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-green-brush);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-dark-green-brush);
}
