:root {
    --background: #060c14;    
    --text: #e3f2ed;
    --text-secondary: #8da099;
    --input-background: #0a1219;
    --input-hover: #234556;
    --input-focus: #176e4e;
    --input-border: #1a2a33;
    --li-background: ;
    --cancel-background: #c44536;
    --cancel-hover: #d9534f;  
    --conform-background: #176e4e;
    --confirm-hover: #1d9b73;
    --warning: #c44536;
    --scrollbar-background: #060c14;;
    --scrollbar-thumb: #1d9b73;
    --scrollbar-thumb-hover:  #1d9b73;
    --li-background:  #0d1a22;
    --li-hover:  #12232e;
    --li-border: #1a2a33;
    --ul-background: #0a1219;
    --successful-resp: #2ecc71;
    --error-resp: #c44536;



}

body {
    margin: 0;
    background: var(--background);
    color: var(--text);
    font-size: 0;
    width: 200px;
}

div.container {
    margin: 0px;
    position: relative;
    background: var(--background);
    text-align: center;
    display: none;
}

div.child {
    height: 100%;
    width: 100%;
    max-height: 100%;
    position: absolute;
    visibility: visible;
    text-align: center;
}

input.data {
    background: var(--input-background);
    border: 1px;
    border-style: solid;
    border-color: var(--input-border);
    border-radius: 8px;
    color: var(--text);
    height: 25px;
    width: 150px;
    margin-top: 45px;
    margin-bottom: 0px;
}

input.data:focus {
    outline: none;
    border-color: var(--input-focus);
}

input.data:hover:not(:focus) {
    outline: none;
    border-style: solid;
    border-color: var(--input-hover);
}

h3.text {
    color:var(--text);
    font-size: 16px;
    margin: 10px 0px 0px 0px;
}
p.text{
    color:var(--text);
    font-size: 12px;
}
p.s-resp{
    color: var(--successful-resp);
    font-size: 16px;
    width: 150px;
    overflow-wrap: break-word;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}
h3.b-resp{
    color: var(--text);
    font-size: 16px;
}
p.error-mes{
    color: var(--error-resp);
    word-break: inherit;
    overflow-wrap: break-word;
    overflow: hidden;
    font-size: 14px;
    height: 100px;
    text-align: left;
    margin: 0px 10px 20px 10px;
}

p.warning {
    color: var(--warning);
    text-align: right;
    margin: 0px 30px 0px 0px;
    visibility: visible;
    font-size: 12px;
}

li {
    color: var(--text);
    text-align: left;
    font-size: 17px;
    margin-bottom: 6px;
    margin-right: 5px;
    border: 1px solid var(--li-border);
    background-color: var(--li-background);
}

li:hover {
    background: var(--li-hover);
}

ul {
    margin: 10px 20px 0px 20px;
    list-style-type: none;
    padding-left: 0px;
    overflow-y: auto;
    max-height: 130px;
}



button.cancel {
    border: 0px;
    padding: 3px 6px 3px 6px;
    background: var(--cancel-background);
    color: var(--text);
    border-radius: 5px;
    margin: 50px 12px 0px 45px;
}
button.cancel:hover{
    background-color: var(--cancel-hover);
}

button.confirm {
    border: 0px;
    padding: 3px 6px 3px 6px;
    background: var(--conform-background);
    color: var(--text);
    border-radius: 5px;
}

button.confirm:hover{
    background-color: var(--confirm-hover);
}


::-webkit-scrollbar {
    width: 8px;
    background-color: var(--scrollbar-background);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}
